*{
    margin: 0;
    padding: 0;
}

.m-header,
.m-community,
.m-game,
.m-booking,
.m-main-news,
#detail,
#detail-sec,
.text-detail,
.detail-point,
.m-data,
.env-slide,
.env-slide h2{
    display: none;
}

h2{
    font-size: 50px;
    text-align: center;
    margin: 40px 0 ;
    color: black;
    width: 100%;
    text-decoration: none;
}

h3{
    font-size: 28px;
    padding:0 0 25px ;
}

.header{
    background-color:#000000;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.header nav{
    font-size: 0;
}

.header nav a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    margin:0 20px 0;
    line-height: 5;
    display: inline-block;
}

.header a:hover{
    transition: .3s;
    color: red;
}

.banner{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center ;
    margin:40px 0;
}

.bannercenter{
    width: 1100px;
}

.slide{
    width: 100%;
    margin: auto;
}

.slide .item img {
    display: block;
    border-radius: 15px;
    width: 100%;
}

.fontfirst{
    width: 8%;
    padding: 0 60px 0 0;
}

.fontfirst img{
    width: 100%;
}

.fontlast{
    width: 8%;
    padding: 0 0 0 60px;
    display: flex;
    flex-direction: column-reverse;
}

.fontlast img{
    width: 100%;
}

.pre-sale{
    width: 100%;
    background:url(img/index-bg/dragon-left.png)
    no-repeat
    center 0%  / cover;
}

.pre-sale .box{
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: auto;
}

.card{
    font-weight: bolder;
    background-color:#f8f0eb;
    display: flex;
    border: 2px solid;
    border-radius: 10px;
    width: 100%;
    margin: 20px 0;
}

.card .img{
    width: 30%;
}

.card .img img{
    border-top-left-radius:8px ;
    border-bottom-left-radius:8px;
    vertical-align:bottom ;
}

.card .data{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    font-size: 20px;
    line-height: 40px;
}

.pre-sale .date {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    font-size: 25px;
    justify-content: space-between;
}

.date span{
    color: red;
}

.pre-sale button{
    color: white;
    background-color:black;
    border:0 ;
    font-size: 30px;
    border-radius:10px ;
    padding: 5px 20px;
    margin: 0 0 0 170px;
    cursor: pointer;
}

.pre-sale button:hover{
    background-color: green;
    color: white;
    transition:.2s ;
}

.pre-sale button:active{
    background-color: gray;
    color: black;
}

.activity-img{
    
    margin: 20px 0 0;
}

.activity-img .container{
    display: flex;
    width: 1200px;
    margin: auto;
}

.activity-img .container .box1{
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
}
.activity-img .container .box1 img{
    width: 100%;
    vertical-align: bottom;
}

.activity-img .container .box2{
    width:50%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    box-sizing: border-box;
    justify-content: space-between;
}

.activity-img .container .box2 img{
    width: 280px;
    margin: 5px;
    vertical-align:bottom ;
}

.activity-img img{
    border-radius: 20px;
}

.env{
    width: 100%;
    background:url(img/index-bg/dragon-right.png) 
    no-repeat 
    center 0% /cover;
    margin: 60px 0;
}

.env .container{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: auto;
}

.env .container .box{
    width: 580px;
    height: 400px;
    margin: 10px;
}

.env .drinks img{
    width: 275px;
    height: 390px;
    margin: 0 5px;
}

.env img{
    width: 100%;
    border-radius: 20px;
}

.weather-info{
    width: 7%;
    padding: 1% .5%;
    margin:auto;
    font-size: 20px;
    font-weight: bolder;
    background-color: #85586F ;
    border-radius: 5px;
    position: fixed;
    z-index: 1;
    right: 1%;
    bottom: 30%;
}

.weather-info p{
    text-align: left;
    color:white;
    padding: 5% 0;
}

.weather-info select{
    font-size: 20px;
    font-weight: bold;
    padding: 3% 0;
    cursor: pointer;
}

.footer{
    background-color:black;
    width: 100%;
}

.footer .container{
    margin: auto;
    width: 62.5%;
    display: flex;
    color:white;
}

.footer .logo{
    width: fit-content;
    margin: 25px 70px;
    order: 0;
}

.footer .logo img{
    width: 100%;
}

.address p{
    padding: 15px 0;
}

.footer .item{
    width: 30%;
    font-size: 16px;
    font-weight: bolder;
    padding: 10px 0 ;
}

.footer a{
    font-weight: bolder;
    text-decoration: none;
    color:white;
    line-height: 50px;
}

.footer .list{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.footer .list a:hover{
    transition: .3s;
    color: red;
}

.footer .list ul{
    list-style: none;
}

.footer .community{
    display: flex;
    justify-content: center;
    margin: 15px 0 0;
}

.footer .community a{
    margin:0 20px;
    height: fit-content;
}

.footer .item,.header,button{
    font-weight: bolder;
}

.tibame{
    font-weight: bold;
    background-color:#85586F;
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 20px 0;
}

.scroll-to-top{
    position: fixed;
    bottom: 100px;
    right: 20px;
    font-size: 30px;
    font-weight: bolder;
    background-color: #85586F;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
}      

html{
    background-color:#D0B8A8;
}

.full-screen{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.934);
    display: flex;
    position: fixed;
    z-index: 15;
}

.full-screen .pic{
    margin: auto;
    background-color: #fff;
    width: 600px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.full-screen .pic img{
    width: 100%;
    vertical-align: bottom;
}

.close{
    width: 50px;
    position: absolute;
    top: -4%;
    right: -4%;
    cursor: pointer;
}

.close-btn{
    width: 100%;
    border-radius: 50%;
    background-color: white;
}