@media screen and (max-width:1430px) {
    .footer .logo{
        display: none;
    }
    h1{
        margin-bottom: 10%;
        font-size: 30px;
    }
    h2{
        font-size: 90px;
    }
    h3{
        font-size:24px;
    }   
    h4{
        font-size: 18px;
    }    
}

@media screen and (max-width:1030px) {
    .footer .community{
        display:none;
    }
}

@media screen and (max-width:767px) {
    .header,
    .bgi-first,
    .bgi-last,
    .footer .logo{
        display:none;
    }

    .m-header{
        display:flex;
        width: 100%;
        height: 80px;
        background-color: black;
        position: fixed;
        z-index: 5;
        top: 0;
    }   

    .m-header > .logo{
        padding:5px;
        box-sizing: border-box;
    }

    .m-header .container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .m-header .slogan{
        width: fit-content;
        display: flex;
        align-items: center;
        margin: auto;
        box-sizing: border-box;
    }

    .slogan span{
        padding:0 2px;
        text-align: center;
        font-size: 45px;
    }

    .m-header .slogan span a{
        text-decoration: none;
        color: white;
        text-shadow:
        0 0 5px rgba(255, 65, 65, 1),
        0 0 10px rgba(255, 65, 65, 1),
        0 0 10px rgba(255, 65, 65, 1),
        0 0 40px rgba(255, 65, 65, 1);
        animation:color 3s linear infinite;
    }

    @keyframes color{
        0%{opacity:1;}
        90%{opacity:0;}
        100%{
        color:#232323;}
    }  

    .hb{
        width: 40px;
        position: relative;
        box-sizing: border-box;
    }


    #menu_control{
        position: absolute;
        z-index: -999;
        opacity: 0;
    }

    .menu_btn{
        display: block;
        background-color: black;
        height: 40px;
        width: 40px;
        position: absolute;
        top: 20px;
        right: 10px;
    }

    .menu_btn span{
        background-color:white;
        width: 80%;
        height: 4px;
        position: absolute;
        margin: auto;
        inset: 0;
    }

    .menu_btn span:nth-child(1){
        translate:0 -10px ;
        transition: translate .2s .2s,
                    rotate .2s 0s;
    }

    .menu_btn span:nth-child(2){
        opacity: 1;
        transition: opacity .4s;
    }

    .menu_btn span:nth-child(3){
        translate:0 10px ;
        transition: translate .2s .2s,
                    rotate .2s 0s;
    }

    #menu_control:checked ~ .container .menu_btn span:nth-child(1){
        translate:0 0 ;
        rotate: 45deg;
        transition: translate .2s .2s,
                    rotate .2s .4s;
    }

    #menu_control:checked ~ .container .menu_btn span:nth-child(2){
        opacity: 0%;
        transition: opacity .2s;
    }

    #menu_control:checked ~ .container .menu_btn span:nth-child(3){
        translate:0 0 ;
        rotate: -45deg;
        transition: translate .2s .2s,
                    rotate .2s .4s;
    }

    /* .menu_btn::before{
        content: '';
        position: absolute;
        height: 5px;
        left: 2px;
        width: 36px;
        background-color: white;
        top: 0;
        bottom: 0;
        margin: auto;
        box-shadow: 
        0px 13px 0px white,
        0px -13px 0px white;
    } */

    .m-header nav{
        background-color: black;
        opacity: 95%;
        height: 100vh;
        width: 100%;
        position: absolute;
        z-index: 5;
        top: 80px;
        left: -100%;
        transition: .4s;
    }

    .m-header nav a{
        display: block;
        text-decoration: none;
        font-size: 18px;
        padding:20px 0;
        border-bottom: 1px solid white;
        text-align: center;
        color: white;
    }

    #menu_control:checked ~ nav{
        left: 0;
        transition: .4s;
    }

    .banner{
        width: 100%;
        margin:80px 0 40px;
    }

    .footer{
        display:block;
        width: 100%;
    }

    .footer .container{
        width: 98%;
        margin: auto;
        box-sizing: border-box;
    }

    .footer .container .item{
        width: 50%;
        padding: 10px 0 ;
        box-sizing: border-box;
        font-size: 14px;
    }

    .footer .container .address{
        display: flex;
        margin:0;
        line-height: 1.3;
        order:1;
    }

    .container .list{
        justify-content: space-around;
        order:0;
    }

    .footer .address .time{
        margin: auto;
    }

    .address .time p{
        margin: auto;
        padding:16px 0;
    }

    .m-community{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        padding: 15px 0 0;
    }

    .tibame{
        font-size: 14px;
    }

    .scroll-to-top{
        position: fixed;
        bottom: 100px;
        right: 20px;
        font-size: 20px;
        font-weight: bolder;
        background-color: #85586F;
        color: white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        cursor: pointer;
        z-index: 3;
    }      
}

@media screen  and (max-width:710px) {
    .slogan span{
        font-size: 35px;
    }
}
@media screen  and (max-width:600px) {
    .slogan span{
        font-size: 28px;
    }
}
@media screen  and (max-width:520px) {
    .slogan span{
        font-size: 22px;
    }
}

@media screen  and (max-width:460px) {
    .slogan span{
        font-size: 18px;
    }
}
@media screen  and (max-width:405px) {
    .slogan span{
        font-size: 16px;
    }
}
@media screen  and (max-width:380px) {
    .slogan span{
        font-size: 14px;
    }
}
